body {
	background-color:		gray;
	color:					white;
}

h1 {
	text-align:				center;
}

ul#navi_bar {
	background-color:		black;
	text-align:				center;
	list-style-type:		none;
	width:					100%;
	overflow:				hidden;
	margin:					0;
}

li a.navi_link {
	display:				block;
	float:					left;
	color:					white;
	padding:				15px 15px;
	text-decoration:		none;
}

li a.navi_link:hover {
	background-color:		#333333;
}
