body {
	background-color:		pink;
	color:					black;
}

h1 {
	text-align:				center;
}

ul#navi_bar {
	background-color:		#ff75af;
	text-align:				center;
	list-style-type:		none;
	width:					100%;
	overflow:				hidden;
	margin:					0px;
	padding:				0px;
}

li a.navi_link {
	display:				block;
	float:					left;
	color:					white;
	padding:				15px 15px;
	text-decoration:		none;
	border-right:			1px solid;
}

li a.navi_link:hover {
	background-color:		#333333;
}

div {
	padding:				10px 30px;
	margin:					10px 30px;
	background-color:		#ff8585;
}
