body {
	background-color:		pink;
	color:					black;
}

h1 {
	text-align:				center;
}

ul#navi_bar {
	background-color:		#ff75af;
	text-align:				center;
	list-style-type:		none;
	width:					100%;
	overflow:				hidden;
	margin:					0px;
	padding-left:			30px;
}

li a.navi_link {
	display:				block;
	float:					left;
	color:					white;
	padding:				15px 15px;
	text-decoration:		none;
	border-right:			1px solid;
}

li a.navi_link:hover {
	background-color:		#333333;
}

p.abstract {
	text-indent:			25px;
	padding:				0px 50px;
	font-size:				20px;
}

div#home_abstract {
	background-color:		lightblue;
	border:					5px solid skyblue;
	outline:				1px solid white;
	outline-offset:			5px;
	margin:					25px 100px;
}

div#daily_meals {
	padding:				10px 30px;
	margin:					10px 30px;
	background-color:		#D0F9FA;
}	

div#contact_info {
	padding:				10px 30px;
	margin:					10px 30px;
	background-color:		#ff8585;
}

img#swirly_eyes {
	display:						block;
	margin:							auto;
	animation-name:					rotateImage;
	animation-duration: 			2s;
	animation-iteration-count:		infinite;
	animation-timing-function:		linear;
}

button#btn_swirly_eyes {
	margin:					5px auto;
	display:				block;
	border-radius:			5px;
	background-color:		black;
	color:					white;
	padding:				3px;
}

@keyframes rotateImage {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}
